*{
    margin: 0;
    padding: 0;
}


.hr_com
{
    border: light gray 0px ;
    margin: auto;
    margin-top: -3px;
    margin-bottom: 10px;
}

.hr_com2
{
    border: light gray 0px ;
    width: 80%;
    margin-top: -3px;
    margin-bottom: 10px;
    margin-left: 10px;
}
body{
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.container{
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}



.profile_image{
    max-width: 120px;
    height: 140;
    border: 3px solid #3F67B4;
    float: right;
}

.header_bio{
    float: right;
    padding-right: 20px;
    padding-top: 80px;
    font-size: 20px;
    
}

/*hover Underline css start*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:black;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: tomato;
    transform-origin: bottom right;
    transition: transform 0.20s ease-out;
    margin-top: 0px;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /*hover Underline css end*/


.div_clear{
    clear: both;
}

.hr1{
    border: solid rgb(207, 235, 252) 2px ;
    margin: 4px auto;
}


.hr2{
    border: solid rgb(207, 235, 252) 2px ;
    margin: 3px auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hr3{
    border: solid tomato 2px ;
    margin: 4px auto;
}
/*Main body start */


/*Contact*/
.c_left{
    /*background-color: aqua;*/
    max-width: 35%;
    float: left;
    
}
.contact_div a{
    text-decoration: none;
    color: black;
}

.contact_div a:hover{
    color: tomato;

}
.contact_div p{
    font-weight: 550;
}
.contact_h2{
    
    text-decoration: underline;
}
/*Contact end*/


.Shape{
    background-image: url(Shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 25px ;
    padding: 40px 10px 30px 10px;
    margin-top: -30px;

}   


.ul1{
    max-width: 75%; 
    text-align: left; 
    margin-left: 15px;
    font-size: 18px;
}

.skill p progress {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border-color: black;
    max-height: 7px;
    max-width: 100%;
    color: #0e3c91;
   
}

.skill p progress::-moz-progress-bar {
    background: currentColor;
}

.skill p progress::-webkit-progress-bar {
    background: whitesmoke;
}

.skill p progress::-webkit-progress-value {
    background: currentColor;
}
.skill p progress:hover{
    color: tomato;
}


.line{
    margin-top: 5px;
    width: 4px;
    height: 170px;
    background: rgb(207, 235, 252);
    position: absolute;
    left: -25px;
}

/*About me start*/
.c_right{
     /*background-color: aqua;*/
      max-width: 65%;
      float: right;   
  }
.p_institute{
    font-weight: 600;
}
.about_me{
    position: relative;
}
/*About me end*/

.b1{
    font-weight: 501;
}

.b2
{
    font-weight: 300;
}
.education a{
    text-decoration: none;
    color: black;
}

.education a:hover{
    color: tomato;

}

/*project me start*/
.table1{
    max-width: 100%;
    height: 380px; 
    border-collapse: 
    collapse; border:hidden;
}
.tr1{
    border:hidden;
}
.td1{
    text-align: left;
}
.td2{
    text-align: center
}

.td2 b a{
    text-decoration: none;
    color: black;
}

.td2 b a:hover{
    color: tomato;
}

.p1{
    text-align: right;
}
/*project me end*/
.footer{
    background-color: rgb(92, 89, 89);
    text-align: center;
    padding: 10px;
}

.footer a{
    color: white;
    text-decoration: none;
    margin: 40px;
}
.footer a:hover{
   color: tomato;
}

.footer p{
    color: white;
    
    margin-top: 20px;
}


/*hover Underline css start*/
.hover-underline-animation2 {
    display: inline-block;
    position: relative;
    color:white;
  }
  
  .hover-underline-animation2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: tomato;
    transform-origin: bottom right;
    transition: transform 0.20s ease-out;
    margin-top: 0px;
  }
  
  .hover-underline-animation2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /*hover Underline css end*/